.advantages__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}



.advantages__item {
  display: flex;
  flex-direction: column;
  background-color: $color-background-secondary;
    &--main {
      background-color: $color-base;
    }
    &--secondary {
      background-color: $color-base;
    }
@media (min-width: $tablet-width) {
    width: 33.33%;
    background-color: $color-background-secondary;
    &--main {
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      background-color: $color-base;
    }
    &--secondary {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row-reverse;
      width: 100%;
      background-color: $color-base;
    }
  }
}

.advantages__image {
  display: block;
  width: auto;
  @media (min-width: $tablet-width) {
    flex-grow: 1;
    flex-shrink: 1;
  }
}
