.appointment {
  padding: 40px 18px 50px;
}

.appointment__button {
  padding: 16px 0;
  margin: 32px auto 0;
  max-width: 458px;
}

.appointment br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
