.button {
  background-color: $color-button-primary;
  color: $color-text-secondary;
  border: none;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  cursor: pointer;
  display: block;
  &:hover {
    background-color: $color-button-primary-hover;
  }
  &:focus {
    border-color: $color-text-additional;
  }
  &:active {
    background-color: $color-button-primary-active;
    color: fade-out($color: $color-text-secondary, $amount: 0.3);
  }
  &:disabled {
    background-color: $color-button-primary-disabled;
  }
}
