.button {
  background-color: $color-button-primary;
  border: none;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  cursor: pointer;
}
