.card {
  font-family: inherit;
  padding: 26px 18px;
  align-self: center;
  text-align: center;
  text-transform: uppercase;
  @media (min-width: $tablet-width) {
    flex-basis: 33.33%;
    padding: 42px 32px;
  }
  @media (min-width: $desktop-width) {
    padding: 43px 42px;
  }
  &--main {
    padding: 54px 20px 40px;
    color: $color-text-secondary;
      @media (min-width: $tablet-width) {
        padding: 42px 32px;
      }
      @media (min-width: $desktop-width) {
        padding: 50px 52px;
      }
    }

}

.card__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 11px;
}

.card__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0 auto;
  max-width: 290px;
}

.card__description br {
  @media (max-width: $mobile-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: inline;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.advantages__item--secondary .card__description {
  max-width: 243px;
}

.advantages__item--secondary br {
  @media (max-width: $mobile-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.card__numeration {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  margin-bottom: 17px;
}
