.card-info {
  font-family: inherit;
  font-size: 14px;
  line-height: 21px;
  padding-top: 15px;
}

.card-info__title {
  font-weight: 700;
  margin: 0 0 10px;
  text-transform: uppercase;
}

.card-info__author {
  font-weight: 400;
  margin: 0 0 11px;
}
