.card {
  font-family: inherit;
  padding: 26px;
  max-width: 282px;
  align-self: center;
  text-align: center;
  text-transform: uppercase;
  @media (min-width: $tablet-width) {
    min-width: 256px;
    width: 33.33%;
    max-width: 400px;
  }
  @media (min-width: $desktop-width) {
    padding: 47px 52px 56px;
  }
    &--main {
      padding: 54px 20px 40px;
      color: $color-text-secondary;
    }
}

.card__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 11px;
}

.card__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}

.card__numeration {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  margin-bottom: 17px;
}
