.form-review {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  @media (min-width: $tablet-width) {
    padding: 74px 60px 64px;
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media (min-width: $desktop-width) {
    padding: 39px 120px 64px;
  }
}

.form-review__button {
  padding: 18px 20px 14px;
  width: 100%;
  min-width: 320px;
  @media (min-width: $tablet-width) {
    max-width: 324px;
  }
  @media (min-width: $desktop-width) {
    max-width: 384px;
    margin-left: 96px;
  }
}

.form-review__remark {
  align-self: flex-end;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: $color-text-placeholder;
  margin-top: 3px;
  @media (min-width: $tablet-width) {
    align-self: center;
    margin: 0;
    margin-left: auto;
    font-size: 14px;
    color: $color-text-additional;
  }
  @media (min-width: $desktop-width) {
    margin-right: 96px;
  }
}

@media (min-width: $tablet-width) {
  .form-review__wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 63px;
    gap: 88px;
    @media (min-width: $desktop-width) {
      gap: 128px;
    }
  }
}
