.logo {
  z-index: 1;
  margin: 0 auto -40px;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 50%;
    margin-bottom: 0;
    transform: translateX(-50%);
    top: 0;
  }

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    outline: 2px solid $color-base;
    z-index: 2;
  }

  &:active {
    opacity: 0.3;
  }
}
