.main-header {
  min-height: 56px;
  position: relative;
  @media (max-width: $mobile-width) {
    display: flex;
    justify-content: center;
  }
}

.main-header__logo {
  z-index: 1;
  position: relative;
  @media (min-height:$tablet-width) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
  }
}

@media (max-width: $mobile-width) {
  .main-header__navigation {
    align-self: center;
  }
}
