.navigation__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: $color-text-secondary;
  @media (max-width: $mobile-width) {
    display: flex;
    flex-direction: column;
    gap: 1px;
    background-color: $color-base;
    width: 100%;
  }
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}

.navigation--nojs .navigation__toggle {
  display: none;
}

.navigation--nojs .navigation__wrapper {
  position: static;
  min-height: 0;
}

.navigation--nojs .user-list__item {
  position: static;
  min-height: 0;
}

.navigation__wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

@media (min-width: $tablet-width) {
  .navigation__list > :nth-child(3) {
    grid-column: 4;
  }
  .navigation__list > :nth-child(7) {
    grid-column: 4;
  }
}

.navigation__toggle {
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  border: none;
  width: 55px;
  height: 55px;
  background-color: inherit;
  cursor: pointer;
  z-index: 3;
  @media (min-width: $tablet-width) {
    display: none;
  }
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    background-position: center;
    background-repeat: no-repeat;
    width: 23px;
    height: 23px;
  }
  &:hover::after {
    opacity: 0.6;
  }
  &:active::after {
    opacity: 0.3;
  }
}

.navigation--opened .navigation__wrapper {
  display: block;
}

.navigation--closed .navigation__wrapper {
  display: none;
}

.navigation--closed .navigation__toggle {
  &::after {
  content: "";
    color: $color-base;
    background-image: url(../img/icons/icon-menu.svg);
}
}

.navigation--opened .navigation__toggle {
  &::after {
    color: $color-text-secondary;
    background-image: url(../img/icons/icon-cross.svg);
  }
}

@media (min-width: $tablet-width) {
  .navigation {
    &--opened,
    &--closed {
      .navigation__toggle {
        display: none;
      }
    }
  }

  .navigation__wrapper {
    position: static;
  }

  .navigation--closed {
    .navigation__wrapper {
      display: block;
    }
  }
}
