.page {
  background-color: $color-background-third;
  font-family: "PT Sans", sans-serif;
  color: $color-text-base;
  max-width: 1280px;
}

.page__body {
  background-color: $color-background-base;
  min-height: 100%;
  max-width: 1200px;
  min-width: 320px;
}

.page__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
