.photo-card {
  display: flex;
  flex-direction: column-reverse;
  padding: 24px 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.photo-card__image {
  display: block;
  margin: 0 auto;
  background-color: $color-input;

  @media (min-width: $tablet-width) {
    width: 100%;
    object-fit: cover;
    object-position: center;
    max-height: 267px;
  }
}

.photo__item--top-rated .photo-card__image {
  @media (min-width: $tablet-width) {
    max-height: 400px;
  }
}

.photo-card__image-wrapper {
  &:hover {
    opacity: 0.6;
  }

  &:focus {
    outline: 2px solid $color-base;
    z-index: 1;
  }

  &:active {
    opacity: 0.3;
  }
}

.photo-card__link {
  margin: 0;
  width: 100%;
}
