.photo-card {
  display: flex;
  flex-direction: column-reverse;
  padding: 25px 20px;
  position: relative;
  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.photo-card__image {
  display: block;
  margin: 0 auto  ;
  @media (min-width: $tablet-width) {
    width: 100%;
    object-fit: cover;
  }
}

.photo-card__link {
  margin: 0;
}
