.photo-card {
  display: flex;
  flex-direction: column-reverse;
  padding: 25px 20px;
  position: relative;
  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.photo-card__image {
  display: block;
  margin: 0 auto  ;
  @media (min-width: $tablet-width) {
    max-width: 100%;
    object-fit: contain;
    height: auto;
  }
}

.photo-card__image-wrapper {
  &:hover {
    opacity: 0.6;
  }
  &:focus {
    outline: 2px solid $color-base;
    z-index: 2;
  }
  &:active {
    opacity: 0.3;
  }
}

.photo-card__link {
  margin: 0;
  width: 100%;
}
