.social-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;

  @media (max-width: $mobile-width) {
    margin-bottom: 40px;
  }
}

.social-list__link {
  background-color: $color-base;
  color: $color-background-base;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $color-button-primary-hover;
  }

  &:focus-visible {
    box-shadow: 0 0 0 3px $color-base;
    outline: 0;
  }

  &:active {
    background-color: $color-button-primary-active;
    color: $color-text-secondary-active;
  }
}
