.social-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  @media (max-width: $mobile-width) {
  margin-bottom: 40px;
  }
}

.social-list__item {
  width: 48px;
  height: 48px;
  background-color: $color-base;
}
