.video-player {
  padding: 0;
  position: relative;
  margin: 0 auto;
  @media (max-width: $mobile-width) {
    width: 280px;
    height: 177px;
  }

  @media (min-width: $tablet-width) {
    width: 648px;
    height: 500px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
    height: 500px;
  }
}

.video-file {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  object-fit: cover;
  @media (max-width: $mobile-width) {
    background-image: url(../img/gallery/video-mobile.jpg);
    width: 280px;
    height: 177px;
    @media (min-resolution: 2dppx) {
      background-image: url(../img/gallery/video-mobile@2x.jpg)
    }
  }

  @media (min-width: $tablet-width) {
    width: 648px;
    height: 500px;
    background-image: url(../img/gallery/video-tablet.jpg);
    @media (min-resolution: 2dppx) {
      background-image: url(../img/gallery/video-tablet@2x.jpg)
    }
  }

  @media (min-width: $desktop-width) {
    width: 800px;
    height: 500px;
    background-image: url(../img/gallery/video-desktop.jpg);
    @media (min-resolution: 2dppx) {
      background-image: url(../img/gallery/video-desktop@2x.jpg)
    }
  }
}

.video-player__button-control {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    width: 48px;
    height: 54px;
    background-image: url("../img/icons/button-play.svg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
  }
  &:hover::after {
    opacity: 1;
  }
  &:focus-visible {
    outline: 4px solid $color-base;
  }
  &:active::after {
    opacity: 0.3;
  }
}

