.video-presentation {
  padding: 17px 20px 0;
  @media (min-width: $tablet-width) {
    padding: 58px 60px 40px;
  }
  @media (min-width: $desktop-width) {
    padding-top: 62px 120px 84px;
  }
}

@media (max-width: $mobile-width) {
  .video-presentation .section__description {
    max-width: 260px;
    margin: 0 auto 38px;
  }
}
