.video-presentation {
  padding: 18px 20px 0;

  @media (min-width: $tablet-width) {
    padding: 51px 60px 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 57px 120px 84px;
  }
}

.video-presentation .section__title {
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    margin-bottom: 28px;
  }
}

@media (max-width: $mobile-width) {
  .video-presentation .section__description {
    max-width: 260px;
    margin: 0 auto 38px;
  }
}
