$color-base: #81b3d2;
$color-secondary: #ffffff;
$color-third: #000000;
$color-text-base: $color-third;
$color-text-base-hover: $color-base;
$color-text-base-active: #b3b3b3;
$color-text-base-current: #766357;
$color-text-secondary: $color-secondary;
$color-text-secondary-active: rgba($color-text-secondary, 0.3);
$color-text-additional: #333333;
$color-text-placeholder: rgba($color-text-base, 0.3);
$color-button-primary: $color-base;
$color-button-primary-hover: #669ec0;
$color-button-primary-active: #5496bd;
$color-button-primary-disabled: #e5e5e5;
$color-input: #f2f2f2;
$color-input-hover: #e5e5e5;
$color-input-active: #d5d5d5;
$color-input-decorated: #e6e6e6;
$color-background-base: $color-secondary;
$color-background-secondary: #eeeeee;
$color-background-third: #e7e5e5;
$color-background-img: #b7b4b4;
$color-background-form-divider: #dbdbdb;
$color-background-advantages-divider: #d6d6d6;
$color-background-card-info-additional: #eaeaea;
