$color-base: #81b3d2 ;
$color-secondary: #ffffff;
$color-third: #000000;
$color-text-base: $color-third;
$color-text-base-hover: $color-base;
$color-text-base-active: #b3b3b3;
$color-text-base-current: #766357;
$color-text-secondary: $color-secondary;
$color-text-secondary-active: rgba($color-text-secondary, 0.3);
$color-text-additional: #333333;
$color-text-placeholder: rgba($color-text-base, 0.3);
$color-button-primary: $color-base;
$color-button-primary-hover: #669EC0;
$color-button-primary-active: #5496BD;
$color-button-primary-disabled: #E5E5E5;
$color-input: #F2F2F2;
$color-input-hover: #E5E5E5;
$color-input-active: #D5D5D5;
$color-background-base: $color-secondary;
$color-background-secondary: #eeeeee;
$color-background-third: #e7e5e5;
$color-background-img: #B7B4B4;
